<table  class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Contact No</th>
            <th>City</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        {{#each contactslist}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.contact}}</td>
                <td>{{this.city}}</td>
                <td>{{this.message}}</td>
            </tr>
        {{/each list}}
    </tbody>
</table>